@using AppUI.Services;
@using AppUI.State;
@using AppUI.Helpers;
@using AppUI.Helpers.Enums;
@using AppUI.Helpers.ViewModels;
@using AppUI.Components.Views.Finance;
@using AppUI.Components.Generic.Form;
@using Common.Models.ProductModels.Properties;
@using Common.Response;
@using Common.Enums;
@using Common.Helpers;

@inject PropertiesService Service
@inject StaticDataState StaticDataState
@inject RouterState RouterState;
@inject UserState UserState;
@inject NavigationManager NavigationManager

<div class="main-container">
    <MudPaper Class="pa-8" Width="50%" MinWidth="350px" Elevation="0">
        <MudForm>
            <MudTextField Variant="Variant.Outlined" T="string" Label="Name" Value="@itemName" ValueChanged="((e) => itemName = e)" />
            <MudTextField Variant="Variant.Outlined" T="double" Label="Value" Value="@value" ValueChanged="((e) => value = e)" />
            <CustomSelect CategoryType="@CategoryType" OnSelect="OnSelectCategory" />
            <MudSpacer />
            @if(loading == false)
            {
                <MudButton Class="pa-4 mt-3 button" Variant="Variant.Filled" DropShadow="false" Color="Color.Primary" OnClick="(() => CreateNewItem())">Create</MudButton>
            }
            else
            {
                <MudButton Class="pa-4 mt-3 button" Variant="Variant.Filled" Disabled DropShadow="false" Color="Color.Primary">
                    <MudProgressCircular Color="Color.Success" Indeterminate="true" />
                </MudButton>
            }

            <MudButton Class="pa-4 mt-3 button" Variant="Variant.Filled" DropShadow="false" Color="Color.Error" OnClick="(() => Cancel.InvokeAsync())">Cancel</MudButton>
        </MudForm>
    </MudPaper>
</div>


@code {
    [Parameter]
    public EventCallback Cancel { get; set; }

    [Parameter]
    public EItemType CreateItemType { get; set; }

    [Parameter]
    public ECategoryType CategoryType { get; set; } = ECategoryType.Properties;

    private string itemName;
    private double value;
    private int category;

    private bool loading = false;

    private async void CreateNewItem()
    {
        loading = true;
        BaseResponse<bool> result =
            new()
                {
                    Data = false,
                    Status = Common.Enums.EHttpStatus.INTERNAL_SERVER_ERROR,
                    ResponseMessage = "Something Went Wrong",
                };

        switch (CreateItemType)
        {
            case EItemType.Property:
                {
                    Property newProperty = new()
                        {
                            Name = itemName,
                            Value = value,
                            CategoryId = category,
                            OwnerId = UserState.UserId
                        };

                    result = await Service.CreateProperty(newProperty);
                    break;
                }
            default: break;
        }

        loading = false;
        if (result.Status == Common.Enums.EHttpStatus.OK && result.Data)
        {
            StaticDataState.ResultState = EResult.Success;
            StaticDataState.SuccessMessage = $"Item was sucesfully created";
        }
        else
        {
            StaticDataState.ResultState = EResult.Error;
            StaticDataState.ErrorMessage = $"Item could not be created";
        }

        RouterState.Params = new RouterParams()
            {
                LinkToPage = "finances",
                LinkToSection = "Majetek",
            };

        NavigationManager.NavigateTo("result");
    }

    private void OnSelectCategory(string categoryValue)
    {
        category = Convertor.CategoryIdNameToInt(categoryValue, (int)ECategoryType.Properties);
    }
}
