@{
    ViewData["Title"] = "Test";
}


<h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="Index">Properties</a>
