@using AppUI.Helpers.Enums
@using AppUI.Services
@using AppUI.State
@using Common.Response;
@using Common.Models.Category;

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

@inherits LayoutComponentBase

@inject StaticDataState StaticDataState
@inject StaticDataService StaticDataService;

<div class="page">
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    @if(loading == true)
    {
        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Indeterminate="true" Class="mt-20"/>
    }
    else
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <NavMenu Type="@ENavType.Sub" />
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    }
   
</div>

@code {
    private bool loading = false;

    protected async override Task OnInitializedAsync()
    {
        loading = true;

        await AssignCategories();

        loading = false;
    }

    private async Task AssignCategories()
    {
        BaseResponse<List<Category>> response = await StaticDataService.GetCategoriesAsync();
        if (response != null && response.Data != null && response.Status == Common.Enums.EHttpStatus.OK)
        {
            StaticDataState.SetCategories(response.Data);
        }
    }
}